@font-face {
  font-family: 'FiraCodeNerdFont';
  src: url('fonts/FiraCodeNerdFont-Regular.woff2') format('woff2');
}

body {
  font-family: 'FiraCodeNerdFont', monospace;

}

h1 {
  text-align: center;

}

#container {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxes {
  height: 50px;
  width: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: solid 0.5px black;
  flex: 0 0 calc(100%/16)- 100px;
}
