#container {
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

.boxes {
  height: 50px;
  width: 50px;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  padding: 16px;
  justify-content: center;
  border: solid 4px black;
  flex: 0 0 calc(100%/16) - 16px;
}

.boxes {
  background-color: 100, 100, 100;
}
